/*Variáveis-------------------------------------*/
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo); /*Fundo azul escuro*/
    color: var(--branco-principal); /*cor do texto*/
    font-family: var(--fonte-principal); /*Tipo de letra*/
    font-size: 16px; /*Tamanho da fonte*/
    font-weight: 400; /*Peso da fonte*/
}

/*Reset------------------------------------*/
* {
    margin: 0; 
    padding: 0;
}

.principal {
    background-image: url("img/Background.png"); /*Imagem dos instrutores*/
    background-repeat: no-repeat; /*Evita repetição da imagem*/
    background-size: contain; /*Força imagem ocupar todo o espaço disponível*/
    align-items: center; /*Alinha no eixo horizontal os elementos ao centro*/
    text-align: center; /*Alinha textos ao centro*/
}

.container {
    height: 100vh; /*Altura do container*/
    display: grid; /*Comportamento do container*/
    grid-template-columns: 50% 50%; /*Divide o container em duas colunas*/
}

.container__botao {
    background-color: var(--botao-azul); /*Cor do botão Assine por 12x...*/
    border-radius: 5px; /*Bordas do botão arredodada*/
    padding: 1em; /*Espaço entre conteúdo e as bordas*/
    color: var(--branco-principal); /*Cor do texto*/
    display: block; 
    text-decoration: none; /*Exclusão do sublinhado do texto*/
    margin-bottom: 1em; /*Aumento da margem inferior do botão*/
}

.botao_secundario {
    background-color: transparent; /*Botão sem cor de fundo*/
    border: 2px solid var(--branco-principal) /*Bordas brancas*/
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%; /*Largura das imagens*/
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex; /*Elementos lado a lado*/
    justify-content: center; /*Alinhamentos dos elementos ao centro*/
    list-style-type: none; /*Exclusão dos pontinhos da lista*/
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

/*Texto azul ao descansar cursor*/
.lista__link a:hover {
    color: var(--botao-azul);
}
/*Texto lilás ao manter link clicado*/
.lista__link a:active {
    color: purple;
}
/*Texto do botão azul-escuro ao descansar cursor encima*/
.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}
